@import url("../index.css");

.container-header {
        padding: 1rem 4%;    
}

.box {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.box-title h1{
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--color-text);
    
    
}

